
@color:#F1F1F1;
@btn-color:orange;
@btn-font:'Dancing Script', cursive;
@btn-width:80px;
@btn-height:40px;
@font-size:24px;
@ftr-font: 'Indie Flower', cursive;

.container{
	width:600px;
	height:600px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	/*.board{
		display:none;
		#div2{
	    position: relative;
		top: -4px;
		left: -4px;
		height: 101.3%;
		width: 101.3%;
		background-color: @color;
		border-radius: 15px;
		}
	}
	#div1{
    position: relative;
	height: 100%;
	width: 100%;
	background-color: @color;
	border: 6px solid black;
	} */
}
table{
	display:none;
	border:solid;
	height:100%;
	width:100%;
	border-collapse: collapse;
	td{
	width:11.11%;
	border:1px solid;
	height:11.11%;
	font-size: 20px;
	text-align: center;
	font-:bold;
	
	}
	.filled{
		background-color: white !important;
	}
	tr:nth-child(3), tr:nth-child(6){
	border-bottom: 2px solid @btn-color;
	}
    tr td:nth-child(3), tr td:nth-child(6){
	border-right: 2px solid @btn-color;
	}
}
	

	.db{
		background-color: orange;
		border:none;
		width:100%;
		display:none;
	}

.home{
	font-family:@btn-font;
	color:@btn-color;
	width:@btn-width;
	height:@btn-height;
	font-size: @font-size;
	cursor:pointer;
	margin-top:50%;
}
.rst{
	margin-top: -30px;
	height: 20px;
	margin-left: -11px;
	width: 20px;
	position: absolute; 
	background: url('../close.png');
	background-size: 20px 20px;
	display:none;
}

#hour, #mins, #sec{
	display:inline-block;
	border:solid;
}
footer{
	
	font-size: 18px;
	border-top-width:5px;
	border-color: #ff0000;
	font-family:@ftr-font;
	.instructions, .facts{
		display:inline-block;
		width:49%;
		text-align:left;
		margin-top:20px;
	}
	.facts{
		border-left:solid;
		border-color:orange;
		border-width: 2px;
		padding-left:10px;
		}
}
td:not(.filled){
		background-color: #F1F1F1
	}